TS_SERVER_HOST=your.ts.server
TS_SERVER_PORT=9987
TS_SERVER_PASSWORD=
TS_CHANNEL=Music
TS_BOT_NICKNAME=MusicBot
TS_QUERY_PORT=10022
TS_QUERY_USERNAME=serveradmin
TS_QUERY_PASSWORD=yourpassword
AUDIO_VOLUME=85
